@page
@model RecruitCatnaphadpr.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details of Company";
}

<h1>Details of Comapny</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MinimumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MinimumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MaximumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MaximumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Optionalstartdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Optionalstartdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CPTorOPT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CPTorOPT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Workfromhome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Workfromhome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.JobTitle.Name)
        </dd>
    </dl>
</div>


<div>
    @if (Model.Company.Candidates == null || Model.Company.Candidates.Count == 0)
    {
<div class="alert-dark">
    <h4>No Candidates</h4>
    <p>No-one applied</p>
</div> }
            else
            {
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Candidate First Name</th>
            <th>Job Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ca in Model.Company.Candidates)
        {
<tr>
    <td>@ca.FirstName</td>

    <td>@ca.JobTitle.Name</td>
   
    <td><a href="/Candidates/Details?id=@ca.CandidateId">Details</a>
</tr>}
    </tbody>
</table>}
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.CompanyId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
